
# Configs
config/.toolswap
config/jei/world/*
config/oculus.properties
config/fml.toml
config/forge-client.toml
config/Discord-Integration.toml
config/xaerominimap_entities.json
config/voicechat/username-cache.json
config/jade/server-plugin-overrides.json
config/jade/sort-order.json
config/embeddium-fingerprint.json
config/embeddium-options.json
config/voicechat/voicechat-client.properties
config/sound_physics_remastered/occlusion.properties
config/sound_physics_remastered/reflectivity.properties
config/embeddium-fingerprint.json
config/embeddium-options.json
config/InventoryHUD/curios.json

# .minecraft
crash-reports/*
logs/*
saves/*
ldlib/
local/*
modernfix/*
XaeroWaypoints*
XaeroWorldMap/*
CustomSkinLoader/*
screenshots/*
shaderpacks/*
chiselsandbits/*
.vscode/*
.new_mods/*

# Extensions
**/*.log
**/*.gz
**/*.DS_Store
**/*.jar

# Client data
.idea/
/.bobby
/profileImage
.curseclient
.sl_password
patchouli_data.json
usernamecache.json
usercache.json
rhino.local.properties
fancymenu_data/last_world.fmdata
profile.json
emi.json
servers.dat
servers.dat_old
cherishedworlds-favorites.dat
realms_persistence.json
minecraftinstance.json
knownkeys.txt

*.code-workspace
*.zip
*.mrpack

# Server Pack
.github/buildtools/serverpack/*

